<div class="alert alert-warning alert-dismissible fade show" role="alert">
  El sitio aun esta en contruccion! Muchas funcionalidades pueden no estar aun desarrolladas. </br>
  <span class="">Pronto podra disfrutar de una experiencia de compra completa!</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>