<li class="product-store-item">
    <div class="container d-flex justify-content-center">	
      <div class="row"> 
        <div class=""> 
          <div class="product-wrapper text-center"> 
            <div class="product-img"> 
              <a href="#" data-abc="true"> 
                <img src="{{product.thumbnails}}" alt=""> 
              </a>	
              <span class="text-center">
                <i class="fa fa-usd"></i> {{product.price}}
              </span> 
              <span class="product-title text-center">{{product.title}}</span>
              <div class="product-action">
                <p class="text-center">{{product.title}}</p>
                <div class="product-action-style"> 
                  <a href="#"> <i class="fa fa-plus">
                    </i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i> 
                  </a>
                  <a href="#">
                    <i class="fa fa-shopping-cart"></i> 
                  </a> 
                </div> 
              </div> 
            </div> 
          </div> 
        </div>  
      </div>
    </div>
  </li>

