<div class="d-flex justify-content-center align-items-center chat-bubble" id="chat-bubble">
  <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>
  <span class="badge badge-pill badge-danger" id="message-counter" hidden>0</span>
</div>