<section id="chat" class="chat-container">
  <p class="chat-title">
    <span>Chat comunitario</span>
    <button class="close-chat-btn" id="close-chat-btn">
      <i class="fa fa-times fa-2"></i>
    </button>
  </p>
  <ul id="message-list">
  </ul>
  <form id="chat-message-form">
    <div class="send-actions">
      <input
        type="text"
        name="message"
        id="message"
        placeholder="Inserte aqui su mensaje"
      />
      <button type="submit" class="send-message-btn">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </form>
</section>