<div id="filter-bar" style="margin: 1rem;">
  <h4>Filtros</h2>
  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="menuFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cantidad
    </button>
    <div class="dropdown-menu" aria-labelledby="menuFilter">
      <a class="dropdown-item" href="#" onclick="setFilter(this)">3</a>
      <a class="dropdown-item" href="#" onclick="setFilter(this)">5</a>
      <a class="dropdown-item" href="#" onclick="setFilter(this)">10</a>
      <a class="dropdown-item" href="#" onclick="setFilter(this)">50</a>
    </div>
  </div>
</div>